header {
  background-color: #333;
  color: white;
  padding: 20px;
}

h1 {
  background-color: aqua;
  font-size: 2.5em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  margin-bottom: 10px;
}

.coluna {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

header .coluna {
  background-color: transparent;
  border: none;
  padding: 0;
}