
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1e0ce5;
  color: #000000;
  text-align: center;
  padding: 10px 0;
}

.grid-container {
  background-color: #1ce9e5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 10px;
}

.coluna {
  background-color: #d1dada;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coluna h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.coluna p {
  font-size: 14px;
  color: #666;
}

.task-area {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 10px;
  cursor: move; 
}

.task-area p {
  font-size: 14px;
  color: #888;
}

.coluna.drag-over {
  border-style: dashed;
}

.task-area.drag-enter {
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  to {
      transform: scale(1.05);
      background-color: #e0f0ff;
  }
}

.task {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.task textarea {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  resize: vertical; 
}

.add-task-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-task-btn:hover {
  background-color: #0056b3;
}
