header{
  background-color: aqua;
  background-color:blue; 
  color: white; 
  text-align: center; 
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

main {
  background-color: aqua;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto; 
}

